
<h1>Welcome</h1>

<div class="well">
  <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Phasellus convallis consectetur massa, eu convallis magna interdum in.
    Sed ut venenatis quam. Sed non tortor ac sapien cursus suscipit id ut felis.</p>
</div>

<% @questions.each do |question| %>

  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="<%= question.gravatar %>">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= question.email %> asked:</h4>
      <%= time_ago_in_words question.created_at %> ago
      <br>
      <%= question.body %>
      <div>
        <a href="<%= question_path(question) %>" class="btn btn-success btn-xs">View Answers</a>
      </div>
    </div>
  </div>

<% end %>
